element {
  --main-bg-color: whitesmoke;
}

#main-container {
  display: grid;
  place-items: center;
}

#main-heading {
  text-align: center;
  font-weight: bolder;
}

#total-el {
  font-style: italic;
}

#grid-wrapper {
  box-shadow: 10px 5px 5px gray;
  margin-top: 5em;
  width: 25%;
  border: 2px solid darkgray;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  animation: 1s slidein;
}

#grid-wrapper > div {
  border: 1px solid black;
  height: 100px;
  background: wheat;
  transition: 333ms all;
}

#grid-wrapper > div > h2 {
  /* whoops */
  display: grid;
  place-items: center;
}

#grid-wrapper > div:hover {
  box-shadow: 5px 3px 3px goldenrod;
  translate: 15% -12%;
  background: gray !important;
  color: gold;
}

.hidden {
  background-color: var(--main-bg-color) !important;
  opacity: 0.55;
  border: none;
}

@keyframes slidein {
  from {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(100%);
  }
}
